<h3 class="text-center mt-5">Check Bank Details By IFSC Code</h3>
<div class="container mt-5 text-center">
  <form>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="ifscCode"
        placeholder="Enter the IFSC Code"
        [(ngModel)]="ifscCode"
        name="ifscCode"
        style="text-transform: uppercase"
      />
    </div>
    <p class="text-danger">{{ errorMessage }}</p>
    <button (click)="getBankDetailsFromRazorPayApi()" class="btn btn-success">
      Submit
    </button>
  </form>
</div>

<div class="container loader mt-5" *ngIf="spinner">
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div class="container mt-5 pb-3" *ngIf="showBankDetailsDiv">
  <table class="table table-bordered">
    <thead></thead>
    <tbody>
      <tr>
        <th scope="row">Micr Code</th>
        <td>{{ bankDetails.MICR }}</td>
      </tr>
      <tr>
        <th scope="row">Branch Name</th>
        <td>{{ bankDetails.BRANCH }}</td>
      </tr>
      <tr>
        <th scope="row">Address</th>
        <td>{{ bankDetails.ADDRESS }}</td>
      </tr>
      <tr>
        <th scope="row">State</th>
        <td>{{ bankDetails.STATE }}</td>
      </tr>
      <tr>
        <th scope="row">Contact</th>
        <td>{{ bankDetails.CONTACT }}</td>
      </tr>
      <tr>
        <th scope="row">City Name</th>
        <td>{{ bankDetails.CITY }}</td>
      </tr>
      <tr>
        <th scope="row">Center</th>
        <td>{{ bankDetails.CENTRE }}</td>
      </tr>
      <tr>
        <th scope="row">District</th>
        <td>{{ bankDetails.DISTRICT }}</td>
      </tr>
      <tr>
        <th scope="row">Swift</th>
        <td>{{ bankDetails.SWIFT }}</td>
      </tr>
      <tr>
        <th scope="row">Bank Name</th>
        <td>{{ bankDetails.BANK }}</td>
      </tr>
      <tr>
        <th scope="row">Bank Code</th>
        <td>{{ bankDetails.BANKCODE }}</td>
      </tr>
      <tr>
        <th scope="row">Ifsc Code</th>
        <td>{{ bankDetails.IFSC }}</td>
      </tr>
    </tbody>
  </table>
</div>
